* {
   padding: 0;
   margin: 0;
}

body {
   width: 98%;
   height: 97vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#answer {
   text-align: center;
   font-size: 75px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
